.open-sans { font-family: 'Open Sans',sans-serif }
.open-sans-light {
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}
.inline-block {
    display: inline-block;
}
html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	border: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video { display: block }
a img { border: 0 }
@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),url('OpenSans-Light-webfont.woff') format('woff'),url('OpenSans-Light-webfont.ttf') format('truetype'),url('OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),url('OpenSans-Regular-webfont.woff') format('woff'),url('OpenSans-Regular-webfont.ttf') format('truetype'),url('OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),url('OpenSans-Semibold-webfont.woff') format('woff'),url('OpenSans-Semibold-webfont.ttf') format('truetype'),url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}
.button,
.button:link,
.button:visited {
	margin-left:50px;
    display: inline-block;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #81bc2e;
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: linear-gradient(#81bc2e,#659324);
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    font-family: 'Open Sans',sans-serif;
    transition: all linear .25s;
}
.button:hover,
.button:link:hover,
.button:visited:hover {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button:active,
.button:link:active,
.button:visited:active {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button-blue,
.button-blue:link,
.button-blue:visited {
    margin-left:25px;
    display: inline-block;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #81bc2e;
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: linear-gradient(#81bc2e,#659324);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    transition: all linear .25s;
    background-color: #3c88cc;
    background-color: #276195;
    background-repeat: repeat-x;
    background-image: linear-gradient(#3c88cc,#276195);
}
.button-blue:hover,
.button-blue:link:hover,
.button-blue:visited:hover {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button-blue:active,
.button-blue:link:active,
.button-blue:visited:active {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button-blue small,
.button-blue:link small,
.button-blue:visited small { display: block }  {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
}
.button-white,
.button-white:link,
.button-white:visited {
    display: inline-block;
    border-radius: .25em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
    background-color: #81bc2e;
    background-color: #659324;
    background-repeat: repeat-x;
    background-image: linear-gradient(#81bc2e,#659324);
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
    font-family: 'Open Sans',sans-serif;
    transition: all linear .25s;
    border: 1px solid #d0d0d0;
    background: #fff;
    padding: 0 12px;
    color: #484848;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    text-shadow: none;
    box-shadow: 0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;
    border-radius: 6px;
}
.button-white:hover,
.button-white:link:hover,
.button-white:visited:hover {
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #83c822;
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button-white:active,
.button-white:link:active,
.button-white:visited:active {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    transition: all linear .25s;
}
.button-white small,
.button-white:link small,
.button-white:visited small { display: block }
.button-white:hover,
.button-white:link:hover,
.button-white:visited:hover {
    color: #484848;
    box-shadow: 0 0 12px rgba(230,230,230,0.2) inset,0 -2px #e8e8e8 inset;
}
.button-white.selected {
    background: #d7d5d5;
    border-color: #bcb9b9;
    text-shadow: 0 1px #fff;
    box-shadow: 0 1px 1px rgba(255,255,255,0.75),0 1px 3px rgba(0,0,0,0.1) inset;
}
.button small,
.button-blue small,
.button-white small { display: block }
.download-button {
    display: inline-block;
}
li.os_linux,
li.os_windows,
li.os_osx,
li.os_android,
.no-js .windows li.os_windows { display: none }
.linux li.os_linux,
.windows li.os_windows,
.osx li.os_osx,
.android li.os_android { display: block }
.download-button small.download-other {
    font-family: 'Open Sans',sans-serif;
    display: block;
    font-size: 11px;
    text-align: right;
    margin-top: 4px;
    color: #bbb;
}
.download-button small.download-other a:link,
.download-button small.download-other a:visited { color: #999 }
.download-button .unsupported-download { display: none }
.no-js .download-button .unsupported-download,
.other .download-button .unsupported-download { display: block }
.download-button .unsupported-download { text-align: right }
.download-button .unsupported-download h4 {
    text-shadow: none;
    margin: 0 0 6px 0;
    font-size: 18px;
}
.download-button .unsupported-download ul li { display: inline }
.download-button .unsupported-download small {
    font-size: 11px;
    letter-spacing: normal;
}
html { background: #fff }
body {
    font-size: 16px;
    line-height: 24px;
    font-family: Georgia,serif;
    color: #333;
    background: #fff;
}
#outer-wrapper {
}
#wrapper {
    background: #f9f9f9 url(background.png);
}
a {
    color: #2983c8;
    text-decoration: none;
}
a:hover,
a:active {
    color: #20679e;
    text-decoration: underline;
}
.sand #wrapper {
    background-color: #f5f1e8;
    background-image: url(background.png);
}
.sand a { color: #af3232 }
.sand a:hover,
.sand a:active { color: #872727 }
.sky #wrapper {
    background-color: #eee;
    background-image: url(/media/img/sandstone/bg-sky.png);
}
.sky a { color: #67a7d0 }
.sky a:hover,
.sky a:active { color: #4090c4 }
h1,
h2,
h3,
h4,
h5,
h6,
.huge,
.large {
	font-family: 'Open Sans Light',sans-serif;
	font-weight: normal;
	display: block;
	margin: 0 0 25px 25px;
	line-height: 100%;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: rgba(92,92,92,1);
}
.huge,
.huge h1 {
    font-size: 180px;
    letter-spacing: -4px;
    line-height: 100%;
}
.large,
.large h1 {
    font-size: 180px;
    letter-spacing: -3px;
    line-height: 100%;
}
h1,
.huge h2,
.large h2,
.billboard h2 {
	font-size: 48px;
	letter-spacing: normal;
}
h2 {
    font-size: 32px;
    letter-spacing: -1px;
}
h3 {
    font-size: 28px;
    letter-spacing: -0.5px;
}
h4 {
    font-size: 24px;
    letter-spacing: -0.25px;
}
h5 { font-size: 16px }
h6 { font-size: 14px }
.small,
small {
    font-size: 12px;
    line-height: 16px;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 { margin-bottom: 0 }
p,
ul,
ol,
dl,
hgroup {
	margin: 0 0 15px 25px;
	font-family: 'Open Sans Light', sans-serif;
	font-size: 18px;
}

.red {
	color: rgb(41,131,200);
}
li {
	margin-left: 24px;
	font-size: 18px;
	font-family: 'Open Sans Light', sans-serif;
	color: #AF3232;
}
dl dt {
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 12px;
}
dl dd { margin-bottom: 48px }
code {
    color: #666;
    font-size: 14px;
}
.center { text-align: center }
#main-content,
#main-feature { padding-bottom: 48px }
.main-column {
    float: left;
    margin-left: 24px;
    width: 528px;
}
.sidebar {
    float: left;
    margin-left: 24px;
    width: 160px;
    margin-left: 208px;
}
.divider.container,
.divider {
    border-bottom: 1px dotted #d6d6d6;
    padding-bottom: 48px;
    margin-bottom: 48px;
}
.divider-last.container,
.divider-last {
    border-bottom: 0;
    padding-bottom: 48px;
}
#masthead,
#main-feature,
#main-content,
#colophon,
.billboard,
.container {
    display: block;
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
    width: 896px;
}
#masthead:after,
#main-feature:after,
#main-content:after,
#colophon:after,
.billboard:after,
.container:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}
#masthead h2 {
    padding: 48px 0 36px 0;
    margin: 0;
}
#masthead nav {
    float: right;
    margin-right: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans',sans-serif;
}
#masthead nav ol li,
#masthead nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}
#masthead nav ol li a,
#masthead nav ul li a,
#masthead nav ol li b,
#masthead nav ul li b {
    display: inline-block;
    padding: 12px;
    font-weight: normal;
}
#masthead nav ol li b,
#masthead nav ul li b,
#masthead nav ol li .current,
#masthead nav ul li .current {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url(/media/img/sandstone/menu-current.png);
}
#masthead nav ol li a,
#masthead nav ul li a,
#masthead nav ol li a:link,
#masthead nav ul li a:link,
#masthead nav ol li a:visited,
#masthead nav ul li a:visited { color: #484848 }
#masthead nav.breadcrumbs {
    padding: 12px 0;
    float: none;
    padding: 12px 0;
}
#masthead nav.breadcrumbs a,
#masthead nav.breadcrumbs span {
    margin-right: .5em;
    margin-left: .5em;
}
#masthead nav.breadcrumbs a:first-child,
#masthead nav.breadcrumbs span:first-child { margin-left: 0 }
.billboard {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 48px;
    box-shadow: 0 0 0 1px #fff inset;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.billboard:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
}
nav.menu-bar {
    text-align: center;
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
    margin-bottom: 48px;
    padding-top: 0;
    padding-bottom: 0;
}
nav.menu-bar ol,
nav.menu-bar ul { margin: 0 }
nav.menu-bar ol li,
nav.menu-bar ul li {
    display: inline-block;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}
nav.menu-bar ol li a,
nav.menu-bar ul li a {
    display: inline-block;
    border-left: 1px dotted #d6d6d6;
    padding: 8px 24px;
}
nav.menu-bar ol li a span,
nav.menu-bar ul li a span { display: block }
nav.menu-bar ol li:first-child a,
nav.menu-bar ul li:first-child a { border-left: 0 }
.inset {
    background-color: #e9e9e9;
    background-color: rgba(0,0,0,0.02);
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    border-bottom: 1px solid #fff;
}
.sidebar nav {
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #484848;
}
.sidebar nav li {
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    margin: 0;
}
.sidebar nav li a,
.sidebar nav li b {
    display: block;
    padding: 8px 0;
}
.sidebar nav li li b { font-weight: bold }
.sidebar nav li:first-child { font-size: 24px }
.sidebar .reference { margin: 48px auto }
.sidebar .reference .more {
    display: block;
    padding: 12px 0;
    border-bottom: 1px dotted #d6d6d6;
    font-family: 'Open Sans Light',sans-serif;
    font-weight: normal;
}
.sidebar .reference p { margin: 0 }
#colophon {
    color: #bbb;
    padding: 48px 0;
    font-size: 14px;
    line-height: 18px;
}
#colophon a,
#colophon a:link,
#colophon a:visited { color: #2983c8 }
#colophon a:hover,
#colophon a:active { color: #20679e }
#colophon nav { font-family: 'Open Sans',sans-serif }
#colophon nav ol li,
#colophon nav ul li {
    list-style-type: none;
    margin: 0 0 2px 0;
}
.no-js .platform-img.js { display: none }
.align {
    font-family: 'Open Sans', sans-serif;
	color: #AF3232;
    margin-top: 5px;
    font-size: 15px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
	margin-right: 50px;
}

input[type=radio] {
    margin-right: 5px;
}

img[alt=nurse-jan] {
    float:right;
    margin-top: -1.0%;
    margin-right: 35px;
    width: 226px; 
    height: 244px;
}